[Unit]
Description=Polipo
After=graphical.target

[Service]
ExecStart=/bin/sh -c "exec sh /storage/.xbmc/addons/service.proxy.polipo/bin/polipo.start"
TimeoutStopSec=1
Restart=always
RestartSec=2
StartLimitInterval=0

[Install]
WantedBy=xbmc.target
