[Unit]
Description=dispmanx_vnc
After=kodi.service

[Service]
ExecStartPre=-/storage/.kodi/addons/service.system.dispmanx_vnc/bin/dispmanx_vncserver-config
ExecStart=/bin/sh -c "/bin/sleep 10 && /storage/.kodi/addons/service.system.dispmanx_vnc/bin/dispmanx_vncserver --config-file=/storage/.kodi/userdata/addon_data/service.system.dispmanx_vnc/dispmanx_vncserver.conf"
TimeoutStopSec=1
Restart=always
RestartSec=2
StartLimitInterval=0

[Install]
WantedBy=kodi.target
