[Unit]
Description=dispmanx_vnc
After=graphical.target

[Service]
ExecStart=/storage/.kodi/addons/service.system.dispmanx_vnc/bin/dispmanx_vncserver
TimeoutStopSec=1
Restart=always
RestartSec=2
StartLimitInterval=0

[Install]
WantedBy=kodi.target
