<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="1000">
                <setting label="1020" type="lsep"/>
                <setting type="sep" />
                <setting id="PAUSE_XBMC" type="bool" label="1021" default="true" />
                <setting id="START_MAXIMIZED" type="bool" label="1022" default="true" />
                <setting id="USE_CUST_AUTIODEVICE" type="bool" label="1023" default="false" />
                <setting id="CUST_AUTIODEVICE_STR" type="text" label="1024" visible="!eq(-1,false)" default="" />
    </category>
</settings>
