[Unit]
Description=%NETWORK%
After=network.target

[Service]
Type=forking
ExecStart=/bin/sh -c "exec sh /storage/.kodi/addons/service.system.tinc/bin/tinc.addon /storage/.kodi/addons/service.system.%NETWORK%/config/%NETWORK%"
ExecStop=/bin/sh -c "exec sh /storage/.kodi/addons/service.system.tinc/bin/tinc.addon /storage/.kodi/addons/service.system.%NETWORK%/config/%NETWORK% -k"

[Install]
WantedBy=kodi.target

