[Unit]
Description=tinc
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "exec sh /storage/.xbmc/addons/service.system.tinc/bin/tinc.setup"
RemainAfterExit=yes

[Install]
WantedBy=xbmc.target
