[Unit]
Description=inadyn
After=network-online.service
Requires=network-online.service

[Service]
Type=forking
ExecStart=/bin/sh /storage/.kodi/addons/service.system.inadyn/bin/inadyn-service
Restart=on-failure

[Install]
WantedBy=kodi.target
