<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30218">
		<setting id="truecrypt" type="file" source="files" label="TrueCrypt script" default="/storage/.xbmc/addons/plugin.program.truecrypt/bin/truecrypt.sh" />
		<setting id="createFolders" type="bool" label="50076" default="true" />
		<setting label="50111" visible="true" type="lsep"/>
        <setting id="riskyActions" type="bool" label="50074" default="true" />
        <setting id="passKeyManipulation" type="bool" label="50110" default="true" />
        <setting id="performMountChecks" type="bool" label="50075" default="true" />
        <setting label="50119" visible="true" type="lsep"/>
        <setting id="altShellScript" type="bool" label="50117" default="false" />
        <setting id="truecryptAlt" type="file" source="files" label="50118" visible="eq(-1,true)" default="/storage/.xbmc/addons/plugin.program.truecrypt/bin/truecrypt.sh" />
	</category>
	<category label="50169">
		<setting id="dontStoreAnything" type="bool" label="50166" default="false" />
		<setting id="allowStorePassKey" type="bool" label="50167" default="true" enable="eq(-1,false)" />
		<setting id="storeKeyFileUsage" type="bool" label="50168" default="true" enable="eq(-2,false)"/>		
	    <setting label="50120" visible="true" type="lsep"/>
        <setting id="randomNuGenerator" label="50121" type="labelenum" default="/dev/urandom" values="/dev/urandom|/dev/random"/>
	    <setting label="50119" visible="true" type="lsep"/>
	    <setting id="debugPrintPassword" type="bool" label="50078" default="false" />
        <setting id="debugPrintKeyfiles" type="bool" label="50094" default="false" />
	</category>
	<category label="Item 0">
		<setting id="active0" type="bool" label="Active" default="false" />
		<setting id="name0" visible="true" type="text" label="50086" default="Item 0" />
		<setting id="filePath0" visible="true" type="file" source="files" label="50079" default="" />
		<setting id="drive0" visible="true" type="text" label="50080" default="" />
		<setting id="useKeyFiles0" visible="true" type="bool" label="50084" default="false" />
		<setting id="keyFilesNumber0" visible="eq(-1,true)" type="slider" label="50093" range="-1,10" option="int" default="-1" />
        <setting id="keyFilesPath0" visible="false" type="text" label="50085" default="" />
		<setting label="50081" visible="true" type="lsep"/>
		<setting id="password0" type="text" option="hidden" label="50082" visible="false" default="" />
		<setting id="icon0" visible="true" type="file" source="files" label="50083" default="" />
		<setting id="tc_aux_mnt0" visible="false" type="text" label="tc_aux_mnt" default="" />
		<setting id="lock0" visible="false" type="bool" label="20166" default="false" />
		<setting id="lckReason0" visible="false" type="text" label="" default="" />
		<setting id="startupMount0" type="bool" label="50145" default="false" />
	</category>
	<category label="Item 1">
		<setting id="active1" type="bool" label="Active" default="false" />
		<setting id="name1" visible="true" type="text" label="50086" default="Item 1" />
		<setting id="filePath1" visible="true" type="file" source="files" label="50079" default="" />
		<setting id="drive1" visible="true" type="text" label="50080" default="" />
		<setting id="useKeyFiles1" visible="true" type="bool" label="50084" default="false" />
		<setting id="keyFilesNumber1" visible="eq(-1,true)" type="slider" label="50093" range="-1,10" option="int" default="-1" />
        <setting id="keyFilesPath1" visible="false" type="text" label="50085" default="" />
		<setting label="50081" visible="true" type="lsep"/>
		<setting id="password1" type="text" option="hidden" label="50082" visible="false" default="" />
		<setting id="icon1" visible="true" type="file" source="files" label="50083" default="" />
        <setting id="tc_aux_mnt1" visible="false" type="text" label="tc_aux_mnt" default="" />
		<setting id="lock1" visible="false" type="bool" label="20166" default="false" />
        <setting id="lckReason1" visible="false" type="text" label="" default="" />
        <setting id="startupMount1" type="bool" label="50145" default="false" />
	</category>
	<category label="Item 2">
		<setting id="active2" type="bool" label="Active" default="false" />
		<setting id="name2" visible="true" type="text" label="50086" default="Item 2" />
		<setting id="filePath2" visible="true" type="file" source="files" label="50079" default="" />
		<setting id="drive2" visible="true" type="text" label="50080" default="" />
		<setting id="useKeyFiles2" visible="true" type="bool" label="50084" default="false" />
		<setting id="keyFilesNumber2" visible="eq(-1,true)" type="slider" label="50093" range="-1,10" option="int" default="-1" />
        <setting id="keyFilesPath2" visible="false" type="text" label="50085" default="" />
		<setting label="50081" visible="true" type="lsep"/>
		<setting id="password2" type="text" option="hidden" label="50082" visible="false" default="" />
		<setting id="icon2" visible="true" type="file" source="files" label="50083" default="" />
		<setting id="tc_aux_mnt2" visible="false" type="text" label="tc_aux_mnt" default="" />
		<setting id="lock2" visible="false" type="bool" label="20166" default="false" />
        <setting id="lckReason2" visible="false" type="text" label="" default="" />
        <setting id="startupMount2" type="bool" label="50145" default="false" />
	</category>
	<category label="Item 3">
		<setting id="active3" type="bool" label="Active" default="false" />
		<setting id="name3" visible="true" type="text" label="50086" default="Item 3" />
		<setting id="filePath3" visible="true" type="file" source="files" label="50079" default="" />
		<setting id="drive3" visible="true" type="text" label="50080" default="" />
		<setting id="useKeyFiles3" visible="true" type="bool" label="50084" default="false" />
		<setting id="keyFilesNumber3" visible="eq(-1,true)" type="slider" label="50093" range="-1,10" option="int" default="-1" />
        <setting id="keyFilesPath3" visible="false" type="text" label="50085" default="" />
		<setting label="50081" visible="true" type="lsep"/>
		<setting id="password3" type="text" option="hidden" label="50082" visible="false" default="" />
		<setting id="icon3" visible="true" type="file" source="files" label="50083" default="" />
		<setting id="tc_aux_mnt3" visible="false" type="text" label="tc_aux_mnt" default="" />
		<setting id="lock3" visible="false" type="bool" label="20166" default="false" />
        <setting id="lckReason3" visible="false" type="text" label="" default="" />
        <setting id="startupMount3" type="bool" label="50145" default="false" />
	</category>
	<category label="Item 4">
		<setting id="active4" type="bool" label="Active" default="false" />
		<setting id="name4" visible="true" type="text" label="50086" default="Item 4" />
		<setting id="filePath4" visible="true" type="file" source="files" label="50079" default="" />
		<setting id="drive4" visible="true" type="text" label="50080" default="" />
		<setting id="useKeyFiles4" visible="true" type="bool" label="50084" default="false" />
		<setting id="keyFilesNumber4" visible="eq(-1,true)" type="slider" label="50093" range="-1,10" option="int" default="-1" />
        <setting id="keyFilesPath4" visible="false" type="text" label="50085" default="" />
		<setting label="50081" visible="true" type="lsep"/>
		<setting id="password4" type="text" option="hidden" label="50082" visible="false" default="" />
		<setting id="icon4" visible="true" type="file" source="files" label="50083" default="" />
		<setting id="tc_aux_mnt4" visible="false" type="text" label="tc_aux_mnt" default="" />
		<setting id="lock4" visible="false" type="bool" label="20166" default="false" />
        <setting id="lckReason4" visible="false" type="text" label="" default="" />
        <setting id="startupMount4" type="bool" label="50145" default="false" />
	</category>
	<category label="Item 5">
		<setting id="active5" type="bool" label="Active" default="false" />
		<setting id="name5" visible="true" type="text" label="50086" default="Item 5" />
		<setting id="filePath5" visible="true" type="file" source="files" label="50079" default="" />
		<setting id="drive5" visible="true" type="text" label="50080" default="" />
		<setting id="useKeyFiles5" visible="true" type="bool" label="50084" default="false" />
		<setting id="keyFilesNumber5" visible="eq(-1,true)" type="slider" label="50093" range="-1,10" option="int" default="-1" />
        <setting id="keyFilesPath5" visible="false" type="text" label="50085" default="" />
		<setting label="50081" visible="true" type="lsep"/>
		<setting id="password5" type="text" option="hidden" label="50082" visible="false" default="" />
		<setting id="icon5" visible="true" type="file" source="files" label="50083" default="" />
		<setting id="tc_aux_mnt5" visible="false" type="text" label="tc_aux_mnt" default="" />
		<setting id="lock5" visible="false" type="bool" label="20166" default="false" />
        <setting id="lckReason5" visible="false" type="text" label="" default="" />
        <setting id="startupMount5" type="bool" label="50145" default="false" />
	</category>
	<category label="Item 6">
		<setting id="active6" type="bool" label="Active" default="false" />
		<setting id="name6" visible="true" type="text" label="50086" default="Item 6" />
		<setting id="filePath6" visible="true" type="file" source="files" label="50079" default="" />
		<setting id="drive6" visible="true" type="text" label="50080" default="" />
		<setting id="useKeyFiles6" visible="true" type="bool" label="50084" default="false" />
		<setting id="keyFilesNumber6" visible="eq(-1,true)" type="slider" label="50093" range="-1,10" option="int" default="-1" />
        <setting id="keyFilesPath6" visible="false" type="text" label="50085" default="" />
		<setting label="50081" visible="true" type="lsep"/>
		<setting id="password6" type="text" option="hidden" label="50082" visible="false" default="" />
		<setting id="icon6" visible="true" type="file" source="files" label="50083" default="" />
		<setting id="tc_aux_mnt6" visible="false" type="text" label="tc_aux_mnt" default="" />
		<setting id="lock6" visible="false" type="bool" label="20166" default="false" />
        <setting id="lckReason6" visible="false" type="text" label="" default="" />
        <setting id="startupMount6" type="bool" label="50145" default="false" />
	</category>
	<category label="Item 7">
		<setting id="active7" type="bool" label="Active" default="false" />
		<setting id="name7" visible="true" type="text" label="50086" default="Item 7" />
		<setting id="filePath7" visible="true" type="file" source="files" label="50079" default="" />
		<setting id="drive7" visible="true" type="text" label="50080" default="" />
		<setting id="useKeyFiles7" visible="true" type="bool" label="50084" default="false" />
		<setting id="keyFilesNumber7" visible="eq(-1,true)" type="slider" label="50093" range="-1,10" option="int" default="-1" />
        <setting id="keyFilesPath7" visible="false" type="text" label="50085" default="" />
		<setting label="50081" visible="true" type="lsep"/>
		<setting id="password7" type="text" option="hidden" label="50082" visible="false" default="" />
		<setting id="icon7" visible="true" type="file" source="files" label="50083" default="" />
		<setting id="tc_aux_mnt7" visible="false" type="text" label="tc_aux_mnt" default="" />
		<setting id="lock7" visible="false" type="bool" label="20166" default="false" />
        <setting id="lckReason7" visible="false" type="text" label="" default="" />
        <setting id="startupMount7" type="bool" label="50145" default="false" />
	</category>
	<category label="Item 8">
		<setting id="active8" type="bool" label="Active" default="false" />
		<setting id="name8" visible="true" type="text" label="50086" default="Item 8" />
		<setting id="filePath8" visible="true" type="file" source="files" label="50079" default="" />
		<setting id="drive8" visible="true" type="text" label="50080" default="" />
		<setting id="useKeyFiles8" visible="true" type="bool" label="50084" default="false" />
		<setting id="keyFilesNumber8" visible="eq(-1,true)" type="slider" label="50093" range="-1,10" option="int" default="-1" />
        <setting id="keyFilesPath8" visible="false" type="text" label="50085" default="" />
		<setting label="50081" visible="true" type="lsep"/>
		<setting id="password8" type="text" option="hidden" label="50082" visible="false" default="" />
		<setting id="icon8" visible="true" type="file" source="files" label="50083" default="" />
		<setting id="tc_aux_mnt8" visible="false" type="text" label="tc_aux_mnt" default="" />
		<setting id="lock8" visible="false" type="bool" label="20166" default="false" />
        <setting id="lckReason8" visible="false" type="text" label="" default="" />
        <setting id="startupMount8" type="bool" label="50145" default="false" />
	</category>
	<category label="Item 9">
		<setting id="active9" type="bool" label="Active" default="false" />
		<setting id="name9" visible="true" type="text" label="50086" default="Item 9" />
		<setting id="filePath9" visible="true" type="file" source="files" label="50079" default="" />
		<setting id="drive9" visible="true" type="text" label="50080" default="" />
		<setting id="useKeyFiles9" visible="true" type="bool" label="50084" default="false" />
		<setting id="keyFilesNumber9" visible="eq(-1,true)" type="slider" label="50093" range="-1,10" option="int" default="-1" />
        <setting id="keyFilesPath9" visible="false" type="text" label="50085" default="" />
		<setting label="50081" visible="true" type="lsep"/>
		<setting id="password9" type="text" option="hidden" label="50082" visible="false" default="" />
		<setting id="icon9" visible="true" type="file" source="files" label="50083" default="" />
		<setting id="tc_aux_mnt9" visible="false" type="text" label="tc_aux_mnt" default="" />
		<setting id="lock9" visible="false" type="bool" label="20166" default="false" />
        <setting id="lckReason9" visible="false" type="text" label="" default="" />
        <setting id="startupMount9" type="bool" label="50145" default="false" />
	</category>
</settings>
